.button-area {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 50%;
  max-height: 50%;
  height: calc(100vh - 100px);
  width: calc(100vw);
}

button{
   background-color: gold;
    padding: 1em 2.4em;
    font-size: .9em;
    margin: 1em;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: center;
  }


#message{
  height: calc(100vh - 100px);
  margin-top: 100px;
  display: flex;
  width: calc(100vw);
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

}

#introduction{
  height: calc(100vh - 100px);
  margin-top: 100px;
  display: flex;
  width: calc(100vw);
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

h2{
	/*height:50px;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  color: #696969;
}


h1{
  padding: 20px 20px 20px 20px;
  font-family: 'Merriweather', serif;
  font-size: 50pt;
  border-bottom-color: #696969;
  border-bottom-style: solid;

}

.hidden{
  display: none !important;
}

input{
  font-family: 'Montserrat', sans-serif;
}

#getStarted {
 -webkit-appearance: none;
  width: 13%;
  border-radius: 100%;

}
